.navbar-brand {
    display: flex;
flex-direction: row;
align-items: center;
}
.navbar-default .navbar-nav > li > a {
// border-bottom: 1px solid $white;
    padding-left: 0;
padding-right: 0;
margin-right: 14px;
padding-bottom: 5px;
transition: $transition;
}

.carousel {
height: 100vh;
} 
.form-control:focus {

    box-shadow: none;
}
.item {
    height: 100vh;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: none;
    height: auto;
    line-height: 1;
}

.navbar-default .navbar-nav > li > a:hover {
color: blue;

}

@media only screen and (max-width: 1199px) {
.mynavbar .nav {
    text-align: right;
}
}

@media only screen and (max-width: $md) {
   .align-item {
    justify-content: flex-end !important;
}
.navbar-header {
    width: 100%;
}
#searchform input[type=search] {
    float: right;
}
 .navbar-default .navbar-nav > li > a {
    font-size: 14px;
}
}
@media only screen and (max-width: $sm) {
.mynavbar .nav {
    text-align: center;;
}
 .navbar-default .navbar-nav > li > a {
    border: none;
    font-weight: normal;
    opacity: .8;
}
.navbar-default .navbar-nav > li > a:hover {
    border: none;
    font-weight: bold;
    opacity: 1;
    color: white;
}



}
