// !WARNING: Check what you do not use

body {
    background-color: #fff;
    font-family: $font;
    font-weight: 500;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}



strong {
    font-weight: bold;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}


@media only screen and (min-width: $xs) {
    nav {
        padding-left: 0px;
        padding-right: 0px;
        small {
            font-family: $font;
            font-size: 12px !important;
            letter-spacing: 0.5px;
        }
    }
    header {
        h1 {
            font-family: $font;
            font-size: 40px;
            line-height: 1;
	        font-weight: 300;
	        color: #616161;
        }
        h2 {
            font-family: $font;
            font-size: 25px;
            font-weight: 500;
            line-height: 1.19;
        }
        h3 {
            font-family: $font;
            font-size: 13px;
            letter-spacing: 2px;
        }
        p {
            font-family: $font;
            font-size: 15px;
	        line-height: 1.56;
        }
        small {
            font-family: $font;
            font-size: 12px;
        }
    }
    section {
        h3 {
            font-family: $font;
            font-size: 20px;
            line-height: 1.14;
            letter-spacing: 0.5px;
        }
        h4 {
            font-family: $font;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.19;
            letter-spacing: 0.5px;
        }
        p {
            font-family: $font;
            font-size: 14px;
	        line-height: 1.56;
        }
    }
    footer {
        small {
            font-family: $font;
            font-size: 12px;
            line-height: 3.0;
            letter-spacing: 0.2px;
        }
    }
}



@media only screen and (min-width: $sm) {
}

@media only screen and (max-width: $sm) {
   
}
@media only screen and (max-width: $md) {

}
@media only screen and (min-width: $md) {
  
}

@media only screen and (min-width: $lg) {

}